{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
{% if user.is_authenticated %}
<div class="row">
   <div class="col-md-4"></div>
   <div class="col-md-5">
       <h2>Provider Profile</h2>
     <div id="my_popup">
        <img style="width: 125px; height: 125px;" src="{% static "ajax_loader_blue_512.gif" %}" />
    </div>
        <form onsubmit="myFunction()" action="" method="post">
            {% if form.non_field_errors %}                      
            <div style="color:#b94a48">
                {{form.non_field_errors}}
            </div>
            {% endif %}         
         {% csrf_token %} 
         {% for field in form %}
            <fieldset class="form-group">
                {% if field.name == 'language1' %}
                    <label class="control-label" for="id_{{ field.name }}">Language 1:</label>
                {% elif field.name == 'language2' %}
                    <label class="control-label" for="id_{{ field.name }}">Language 2:</label>
                {% elif field.name == 'language3' %}
                    <label class="control-label" for="id_{{ field.name }}">Language 3:</label>
                {% elif field.name == 'categories1' %}
                    <label class="control-label" for="id_{{ field.name }}">Category 1:</label>
                 {% elif field.name == 'categories2' %}
                    <label class="control-label" for="id_{{ field.name }}">Category 2:</label>
                {% elif field.name == 'categories3' %}
                    <label class="control-label" for="id_{{ field.name }}">Category 3:</label>
                {% else %}
                    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}:</label>
                {% endif %}          
                {% if field.name == 'title' %}        
                    <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" value="{{ form.fields.title.initial }}"> 
                {% endif %}      
                {% if field.name == 'country' %}        
                    <select id="id_{{field.name}}" name="{{ field.name }}">
                        {% for id, name in form.fields.country.choices %}
                            <option value="{{ id }}">{{ name }}</option>                            
                        {% endfor %}                   
                    </select>
                {% endif %}
                {% if field.name == 'language1' %}        
                    <select id="id_{{field.name}}" name="{{ field.name }}">
                        {% for id, name in form.fields.language1.choices %}
                            <option value="{{ id }}">{{ name }}</option>                            
                        {% endfor %}                   
                    </select>
                {% endif %} 
                {% if field.name == 'language2' %}        
                    <select id="id_{{field.name}}" name="{{ field.name }}">
                        {% for id, name in form.fields.language2.choices %}
                            <option value="{{ id }}">{{ name }}</option>                            
                        {% endfor %}                   
                    </select>
                {% endif %}
                {% if field.name == 'language3' %}        
                    <select id="id_{{field.name}}" name="{{ field.name }}">
                        {% for id, name in form.fields.language3.choices %}
                            <option value="{{ id }}">{{ name }}</option>                            
                        {% endfor %}                   
                    </select>
                {% endif %}  
                  {% if field.name == 'categories1' %}        
                    <select id="id_{{field.name}}" name="{{ field.name }}">
                        {% for id, name in form.fields.categories1.choices %}
                            <option value="{{ id }}">{{ name }}</option>                            
                        {% endfor %}                   
                    </select>
                {% endif %}
                  {% if field.name == 'categories2' %}        
                    <select id="id_{{field.name}}" name="{{ field.name }}">
                        {% for id, name in form.fields.categories2.choices %}
                            <option value="{{ id }}">{{ name }}</option>                            
                        {% endfor %}                   
                    </select>
                {% endif %}
                  {% if field.name == 'categories3' %}        
                    <select id="id_{{field.name}}" name="{{ field.name }}">
                        {% for id, name in form.fields.categories3.choices %}
                            <option value="{{ id }}">{{ name }}</option>                            
                        {% endfor %}                   
                    </select>
                {% endif %}
            {% if field.name == 'summary' %}        
                <textarea type="text" rows="3" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
                    {{ form.fields.summary.initial }}
                </textarea>
            {% endif %}                 
            {% if field.name == 'skillsets' %}        
                <input type="text" placeholder="Separate skills by commas!" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" value="{{ form.fields.skillsets.initial }}"> 
            {% endif %}                                                     
            </fieldset>
              {% if field.errors %}
            <div style="color:#b94a48">
                {{ field.errors }}
            </div>    
             {% endif %} 
        {% endfor %}
        <input type="hidden" name="username" value="{{user.username}}">        
        <input class="btn btn-default" type="submit" name="providerProfileUpdate" value="Submit" />
        </form>
    </div>
</div>



{% block scripts %}
<script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.10/jquery.popupoverlay.js"></script>
{% endblock %}

 <script>
    $(document).ready(function() {
      // Initialize the plugin
      $('#my_popup').popup();
    });
  </script>
<script>
    function myFunction() {     
        $('#my_popup').popup('show');      
    }
</script>

{% else %}

<h3>Please login!</h3>

{% endif %}

{% endblock %}