{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<h1>Hi, this is the provider profile page!</h1>

<div class="row">
   <div class="col-md-6">
     <div id="my_popup">
        <img style="width: 125px; height: 125px;" src="{% static "ajax_loader_blue_512.gif" %}" />
    </div>
        <form onsubmit="myFunction()" action="" method="post">
            {% if form.non_field_errors %}                      
            <div style="color:#b94a48">
                {{form.non_field_errors}}
            </div>
            {% endif %}         
         {% csrf_token %} 
         {% for field in form %}
            <fieldset class="form-group">
            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                {% if field.name == 'title' %}        
            <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}"> 
                {% endif %}      
                {% if field.name == 'country' %}        
                    <select id="id_{{field.name}}" name="{{ field.name }}">
                        {% for id, name in form.fields.country.choices %}
                            <option value="{{ id }}">{{ name }}</option>                            
                        {% endfor %}                   
                    </select>
                {% endif %}            
            </fieldset>
              {% if field.errors %}
            <div style="color:#b94a48">
                {{ field.errors }}
            </div>    
             {% endif %} 
        {% endfor %}        
        <input class="btn btn-default" type="submit" value="Go" />
        </form>
    </div>
</div>

{% block scripts %}
<script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.10/jquery.popupoverlay.js"></script>
{% endblock %}

 <script>
    $(document).ready(function() {
      // Initialize the plugin
      $('#my_popup').popup();
    });
  </script>
<script>
    function myFunction() {     
        $('#my_popup').popup('show');      
    }
</script>
{% endblock %}