{% extends "signup/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-3 col-md-4">
        <form action="" method="post"> 
            <br />
            {% if signupform.non_field_errors %}                      
            <div style="color:#b94a48">
                {{signupform.non_field_errors}}
            </div>
            {% endif %}         
            {% csrf_token %}
            {% for field in signupform %}
            {{ field.label_tag }}
            {% if field.errors %}
            <div style="color:#b94a48">
                {{ field.errors }}
            </div>
            {% endif %}           
            {{ field }}           
            {% endfor %}            
            <br>
            <input class="btn btn-success" type="submit" name="signup" value="Sign up!" />
        </form>
    </div>
    <div class="col-xs-3 col-md-4">
        <form action="" method="post"> 
            <br />
            {% if loginform.non_field_errors %}                      
            <div style="color:#b94a48">
                {{loginform.non_field_errors}}
            </div>
            {% endif %}         
            {% csrf_token %}
            {% for field in loginform %}
            {{ field.label_tag }}
            {% if field.errors %}
            <div style="color:#b94a48">
                {{ field.errors }}
            </div>
            {% endif %}           
            {{ field }}           
            {% endfor %}            
            <br>
            <input class="btn btn-success" type="submit" name="login" value="Log In" />
        </form>
    </div>
</div>
{% endblock %}

