{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-xs-3 col-md-4"></div>
    <div class="col-xs-3 col-md-4">
        <form action="" method="post"> 
            <br />
            {% if messages %}
                <ul style="color:#b94a48" class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if form.non_field_errors %}                      
            <div style="color:#b94a48">
                {{ form.non_field_errors.as_text }}
            </div>
            {% endif %}         
            {% csrf_token %}
            {% for field in form %}
            {{ field.label_tag }}
            {% if field.errors %}
            <div style="color:#b94a48">
                {{ field.errors }}
            </div>
            {% endif %}           
            {{ field }}           
            {% endfor %}            
            <br>
            <div>
                <input class="btn btn-success" type="submit" name="login" value="Log In" />
                <br /><br />
                <a href="{% url 'signup' %}">Create New Account?</a>
                <br />
                <a href="{% url 'passwordrecovery' %}">Forgot Your Password?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
