{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<div class="row">
    <div class="col-md-4"></div>
   <div class="col-md-4">
     <div id="my_popup">
        <img style="width: 125px; height: 125px;" src="{% static "ajax_loader_blue_512.gif" %}" />
    </div>
        <form onsubmit="myFunction()" action="" method="post">
            {% if form.non_field_errors %}                      
            <div style="color:#b94a48">
                {{signupform.non_field_errors}}
            </div>
            {% endif %}         
         {% csrf_token %} 
         {% for field in form %}
            <fieldset class="form-group">
            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>        
            <input type="password" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">               
            </fieldset>
              {% if field.errors %}
            <div style="color:#b94a48">
                {{ field.errors }}
            </div>    
             {% endif %} 
        {% endfor %}        
        <input class="btn btn-default" type="submit" value="Go" />
        </form>
    </div>
</div>


<script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.10/jquery.popupoverlay.js"></script>
 <script>
    $(document).ready(function() {
      // Initialize the plugin
      $('#my_popup').popup();

    });
  </script>
<script>
    function myFunction() {     
        $('#my_popup').popup('show');      
    }
</script>
{% endblock %}

